@font-face {
    font-family: Futura;
    src: url('../Futura.ttf');
}

body {
    margin: 0;
    background-color: #eaeaea;
    font-family: Futura, Century Gothic;
    overflow-y: scroll;
    font-size: 1.2em;
}

h1 {
    font-family: Futura, Century Gothic;
    font-weight: 100;
    margin: 50px 0px 15px 0px;
}

h2 {
    margin: 60px auto 10px;
    font-size: 2.5em;
    font-family: Futura;
    font-weight: 100;
}

td {
    position: relative;
    padding: 7px 25px 7px 0px;
}

    td h1 {
        margin: 10px 0;
    }

p {
    font-weight: 200;
    line-height: 28px;
    word-spacing: 1px;
    letter-spacing: 1px;
    color: #3C3C3C;
    margin: 10px 0;
}

.strong {
    font-weight: bold;
}

nav {
    width: 100%;
    height: 65px;
    background-color: #f7f7f7;
    position: fixed;
    box-shadow: 0px 0px 5px 0px #808080;
    z-index: 2;
}

.center {
    margin: 0 auto;
}

.bodyContent {
    padding-top: 65px !important;
}

.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    width: 96%;
    padding: 0 2%;
}
/* FOOTER*/

#j890-c19f::before {
    content: "";
    width: 100%;
    /*box-shadow: 0px 0px 9px 0.8px rgb(0, 0, 0);*/
    position: relative;
    display: block;
}

.footerLogo
{
    height: 60px;
    background-repeat: no-repeat;
    background-position-x: center;  
    margin-top: 60px;
    
}

#footerInfo {
    text-align: center;
}

#footerInfoCont {
    font-size: 0.9em;
}

#footerTitle {
    font-size: 1.2em;
    font-weight: 500;
}

.fb {
    height: 40px;
    margin: 15px;
}

.sff {
    height: 20px;
    margin: 15px;
}

footer h1 {
    font-family: Futura;
    font-weight: 100;
    letter-spacing: 3px;
    font-size: 3em;
    margin-top: 20px;
}

footer p {
    line-height: 30px;
    opacity: 0.8;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 5px;
}

#copy {
    opacity: 0.5;
    margin: 20px;
}

footer {
    width: 100%;
    background-color: #f7f7f7;
    overflow-y: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 150px;
}

/*    SLIDESHOW    */

/*.slideshow {
    width: 100%;
    height: 90vh;
    background-color: tomato;
    background-image: url(https://scontent-arn2-1.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/11813335_921986974503963_3754401214151803073_n.jpg?oh=e61878c03377039727c31c69148af11f&oe=56D23A2E);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}*/

.owl-carousel {
    width: 100%;
}

.slideItem {
    overflow: auto;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 850px;
    border: none;
    cursor: url(https://books.google.se/googlebooks/images/openhand.cur) 9 5, move;
}

@media only screen and (max-width: 1624px) {

    .slideItem {
        height: 810px;
    }
}

@media only screen and (max-width: 1524px) {

    .slideItem {
        height: 780px;
    }
}

@media only screen and (max-width: 1324px) {

    .slideItem {
        height: 700px;
    }
}

@media only screen and (max-width: 1224px) {

    .slideItem {
        height: 600px;
    }
}

@media only screen and (max-width: 1024px) {

    .slideItem {
        height: 500px;
    }
}

@media only screen and (max-width: 750px) {

    .slideItem {
        height: 400px;
    }
}

@media only screen and (max-width: 600px) {

    .slideItem {
        height: 300px;
    }
}

@media only screen and (max-width: 300px) {

    .slideItem {
        height: 200px;
    }
}

.owl-dots {
    position: absolute;
    margin: 0;
    bottom: 10px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    display: inline-block;
}

.owl-dot {
    margin: 5px 2.5px 0 2.5px;
    display: inline-block;
    border: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.50);
    height: 15px;
    width: 15px;
}

    .owl-dot.active {
        background-color: white;
    }

.owl-carousel .active {
    border: none;
}

.owl-carousel:hover .owl-nav {
    opacity: 1;
    transition: .5s;
}

.owl-nav {
    opacity: 0;
    transition: .5s;
}

.owl-prev, .owl-next {
    text-align: center;
    height: 70px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    margin-top: -35px;
    transition: .2s;
}

    .owl-prev:hover, .owl-next:hover {
        background-color: rgba(255, 255, 255, .9);
        transition: .2s;
    }

.owl-prev {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

.owl-next {
    right: 0;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
}

.pilar {
    font-family: 'Orator Std';
    font-size: 35px;
    color: black;
    margin: 28px 15px;
}




/*    CARDS   */

.photoCards {
    width: 100%;
    height: 370px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
}

    .photoCards:hover {
        background-color: #f7f7f7;
        box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.2);
    }

.card-small {
    max-width: 50%;
}

.photoCards p {
    text-align: center;
}

.imgCont {
    height: 300px;
    background-size: cover;
    background-position: center center;
    border: 7px solid #f5f5f5;
    border-radius: 4px;
    background-repeat: no-repeat;
}


/* GALLERI */
.textCard {
    list-style: none;
    clear: both;
    padding: 10px;
    box-shadow: 0px 1px 4px #888888;
    background-color: #fcfcfc;
    margin: 5% auto;
}

.textContainer {
    max-width: 700px;
    margin: 5% auto;
}

.gallery-section {
    font-size: 0;
    list-style: none;
    clear: both;
    box-shadow: 0px 1px 4px #888888;
    background-color: #f7f7f7;
    margin: 5% 0;
}

.galleryImg1_3 {
    background-color: #F7F7F7;
    width: 31.999%;
    margin: 1%;
    display: inline-block;
    height: auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    vertical-align: middle;
}


    .galleryImg1_3 img {
        max-width: none;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }

.galleryImg2_3:first-child {
    margin-right: 0%;
}

.galleryImg2_3:last-child {
    margin-left: 0%;
}

.galleryImg2_3:last-child {
    margin-left: 0%;
}

.galleryImg1_3:first-child {
    margin-right: 0%;
}

.galleryImg1_3:last-child {
    margin-left: 0%;
}

.galleryImg1_2 {
    background-color: white;
    width: 49%;
    margin: 0.5%;
    display: inline-block;
    height: auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    vertical-align: middle;
}


    .galleryImg1_2 img {
        max-width: none;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }

.galleryImg1_1 {
    background-color: white;
    width: 99%;
    margin: 0.5%;
    display: inline-block;
    height: auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    vertical-align: middle;
}


    .galleryImg1_1 img {
        max-width: none;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }

@media only screen and (min-device-width : 0px) and (max-device-width : 550px) {
    .galleryImg1_3 {
        background-color: white;
        width: 98%;
        margin: 1%;
        padding-bottom: 0%;
        display: inline-block;
        height: auto;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

        .galleryImg1_3 img {
            width: 100%;
            position: relative;
        }

        .galleryImg1_3:first-child {
            margin-right: 1%;
        }

        .galleryImg1_3:last-child {
            margin-left: 1%;
        }
    /* 1 av 2*/
    .galleryImg1_2 {
        background-color: white;
        width: 98%;
        margin: 1%;
        padding-bottom: 0%;
        display: inline-block;
        height: auto;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

        .galleryImg1_2 img {
            width: 100%;
            position: relative;
        }

        .galleryImg1_2:first-child {
            margin-right: 1%;
        }

        .galleryImg1_2:last-child {
            margin-left: 1%;
        }
}

@media only screen and (max-width: 500px) {
    .galleryImg1_3 {
        background-color: white;
        width: 98%;
        margin: 1%;
        padding-bottom: 0%;
        display: inline-block;
        height: auto;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

        .galleryImg1_3 img {
            width: 100%;
            position: relative;
        }

        .galleryImg1_3:first-child {
            margin-right: 1%;
        }

        .galleryImg1_3:last-child {
            margin-left: 1%;
        }


    /* 1 av 2*/
    .galleryImg1_2 {
        background-color: white;
        width: 98%;
        margin: 1%;
        padding-bottom: 0%;
        display: inline-block;
        height: auto;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

        .galleryImg1_2 img {
            width: 100%;
            position: relative;
        }

        .galleryImg1_2:first-child {
            margin-right: 1%;
        }

        .galleryImg1_2:last-child {
            margin-left: 1%;
        }
}

.border-shadow {
    border-radius: 2%;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 29.33333333%;
    padding: 1%;
    margin: 1%;
}

.imgContainer {
    border-width: 0px;
    margin-top: 0px;
    margin-left: 0px;
    overflow: visible;
    height: 30%;
}

    .imgContainer img {
        display: inline;
        width: 100%;
        height: 99999999px;
        max-height: 100%;
        zoom: 1;
        object-fit: cover;
        -o-object-fit: contain;
    }

#bigPicture {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.5);
    z-index: 3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}



.close {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    right: 3px;
    margin: 7px 10px;
}


@media only screen and (max-width: 700px) {
    .border-shadow {
        width: 98%;
    }
}
/* KONTAKT */

.contactCont {
    /*width: 200px;
    margin: 0 auto;*/
}

#kontaktBild2 {
    padding-bottom: 25%;
    width: 100%;
    background-position: center;
    background-size: cover;
    border: 7px solid #f5f5f5;
    border-radius: 4px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

#kontaktBild img {
    width: 300px;
    margin-top: 15px;
    border: white solid 2px;
    border-radius: 2px;
    box-shadow: 0px 1px 7px -3px black;
}

#kontaktBild {
    text-align: center;
}

form {
    width: 100%;
}

textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border: none;
}

input {
    width: 48%;
    padding: 10px;
    float: right;
    border: none;
}

    input:first-child {
        float: left;
    }

#skicka {
    float: none;
    width: 100%;
    border: none;
    background-color: #f7f7f7;
}

/*OM STUDION*/

#map {
    width: 96%;
}

.sImg {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100%;
    background-position: center;
}

.shadow {
    border-radius: 1px;
    border: 7px solid #f5f5f5;
    border-radius: 4px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
}


a {
    text-decoration: none;
}

    a:visited {
        text-decoration: none;
        color: black;
    }
